In [1]:
import pandas as pd

# Load IMDB ratings
IMDB_data = pd.read_csv("IMDB_data/title.ratings.tsv", sep='\t')

# Load IMDB "US" versions of titles
IMDB_akas = (pd.read_csv("IMDB_data/title.akas.tsv", sep='\t',
                     usecols=['titleId', 'title', 'region'])[lambda x: x['region'] == 'US'])
# Load year of release
IMDB_basics = (pd.read_csv("IMDB_data/title.basics.tsv", sep='\t',
                      usecols=['tconst', 'startYear', 'genres', 'titleType'])[lambda x: x['titleType'] == 'movie'])

C:\Users\loris\AppData\Local\Temp\ipykernel_12432\2407569859.py:10: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  IMDB_basics = (pd.read_csv("IMDB_data/title.basics.tsv", sep='\t',

In [2]:
# Use key to merge IMDB movie titles and ratings
IMDB_data = IMDB_data.set_index('tconst').join(IMDB_akas.set_index('titleId')['title'], how='outer')

In [3]:
IMDB_data.shape

(2133618, 3)

In [4]:
# Use key to merge title, rating, year of release
IMDB_data = IMDB_data.join(IMDB_basics.set_index('tconst').drop(labels=['titleType'], axis = 1), how='outer')

In [5]:
IMDB_data.shape

(2351919, 6)

In [6]:
# remove film duplicates due to various titles used for same movie
IMDB_data = IMDB_data[~IMDB_data.index.duplicated(keep='first')]

In [7]:
IMDB_data.shape

(2272183, 6)

In [12]:
IMDB_data.drop(labels=['titleType'], axis = 1).head()

           averageRating  numVotes                   title startYear genres
tt0000001            5.7    1921.0              Carmencita       NaN    NaN
tt0000002            5.8     260.0  The Clown and His Dogs       NaN    NaN
tt0000003            6.5    1729.0                     NaN       NaN    NaN
tt0000004            5.6     174.0                     NaN       NaN    NaN
tt0000005            6.2    2543.0        Blacksmith Scene       NaN    NaN